---
layout: startup
---

<section class="blog-4" id="home-blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog-content">
                    {{ content }}
                </div>
            </div>

            <div class="col-sm-3 col-sm-offset-1">
            	

                <div class="hero-unit">
                  <a class="btn btn-primary btn-lg" style="background-color:#2F4F4F; width:100%; margin-top: 10px;" href="https://gumroad.com/l/nxyWU" >BUY THE STUDY NOTES</a>
                </div>

                <br/>
                <br/>
                <h6>Get the first chapter FREE</h6>
            	<div class="row">
                    <div class="subscribe-form col-sm-8 col-sm-offset-2">
                       <form action='//gostudy.activehosted.com/proc.php' method='post' id='_form_1029' accept-charset='utf-8' enctype='multipart/form-data'>
                          <input type='hidden' name='f' value='1029'>
                          <input type='hidden' name='s' value=''>
                          <input type='hidden' name='c' value='0'>
                          <input type='hidden' name='m' value='0'>
                          <input type='hidden' name='act' value='sub'>
                          <input type='hidden' name='nlbox[]' value='2'>
                             <div class="input-group">
                              <input type="email" name="email" class="span4 form-control" placeholder="your@emailaddress.com">
                              <span class="input-group-btn">
                                  <button style="color:white"class="btn btn-primary btn-blog-color" type="submit button">Send it!</button>
                              </span>
                          </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>
